@import 'tailwindcss';

@config '../../tailwind.config.ts';
@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-MiSans: 'MiSans-VF', 'NotoEmoji', system-ui;
  --font-SarasaUI: 'SarasaUiSC-Regular', 'NotoEmoji', system-ui;
  --font-PingFang: 'PingFangSC-Regular', 'NotoEmoji', system-ui;
  --font-FiraSans: 'Fira Sans', 'NotoEmoji', system-ui;
  --font-SystemUI: 'NotoEmoji', system-ui;
}

@layer utilities {
  @font-face {
    font-family: 'NotoEmoji';
    src: url('./NotoColorEmoji-flagsonly.ttf') format('truetype');
  }
}

@utility card {
  @apply bg-base-100 rounded-lg shadow-md;
  .card-body {
    @apply p-4;
  }
}

@utility collapse {
  @apply bg-base-100 rounded-lg shadow-md;
}

.collapse.transparent-collapse {
  @apply bg-transparent! shadow-none! backdrop-blur-none!;
}

@utility select {
  @apply w-auto;
}

@utility btn {
  @apply border-none;
}

@utility tabs {
  .tab {
    @apply px-2;
  }
  .tab.tab-active {
    @apply bg-primary text-primary-content;
  }
}

@utility tab {
  @apply max-md:min-w-24;
}

@utility table {
  & tr {
    @apply border-b-0;
  }
}

.select.select-sm,
.input.input-sm,
.btn.btn-sm,
.tabs.tabs-xs .tab {
  @apply text-sm;
}

@for $i from 0 to 100 {
  .custom-background.custom-background-$(i) {
    .bg-base-100,
    .bg-primary,
    .card,
    .collapse,
    .input,
    .select,
    .toggle,
    .tabs {
      @apply bg-base-100/$(i);
    }

    option {
      @apply bg-base-100;
    }

    .bg-base-200,
    .dock,
    .table tbody tr:nth-child(even) {
      @apply bg-base-200/$(i);
    }

    .modal-box {
      @if $i > 70 {
        @apply bg-base-100/$(i);
      } @else  {
        @apply bg-base-100/70;
      }
    }

    .bg-primary:not(.tab.tab-active) {
      @if $i > 60 {
        @apply bg-primary/$(i);
      } @else  {
        @apply bg-primary/60;
      }
    }

    .bg-primary .latency-tag {
      @if $i > 90 {
        @apply bg-base-100/$(i);
      } @else  {
        @apply bg-base-100/90;
      }
    }

    .home-page.bg-base-200\/50 {
      background-color: transparent;
    }
  }
}

@for $i from 0 to 40 {
  .blur-intensity-$(i) {
    .card,
    .collapse,
    .sidebar,
    .ctrls-bar,
    .nav-bar,
    .modal-box,
    .table tbody,
    .table thead {
      /* prettier-ignore */
      backdrop-filter: blur($(i)px);
    }
  }
}

.tippy-box {
  @apply bg-neutral text-neutral-content z-[9999] shadow-md;
}
.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  @apply border-t-neutral;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  @apply border-r-neutral;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  @apply border-b-neutral;
}
.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  @apply border-l-neutral;
}

.tippy-box[data-theme^='base'] {
  @apply bg-base-100 border-base-200 text-base-content z-9999 border shadow-md;
}
.tippy-box[data-theme^='base'][data-placement^='top'] > .tippy-arrow:before {
  @apply border-t-base-100;
}
.tippy-box[data-theme^='base'][data-placement^='right'] > .tippy-arrow:before {
  @apply border-r-base-100;
}
.tippy-box[data-theme^='base'][data-placement^='bottom'] > .tippy-arrow:before {
  @apply border-b-base-100;
}
.tippy-box[data-theme^='base'][data-placement^='left'] > .tippy-arrow:before {
  @apply border-l-base-100;
}

.tippy-box[data-theme^='transparent'] {
  @apply rounded-lg;
  .tippy-content {
    @apply p-0;
  }
}
.tippy-box[data-theme^='transparent'][data-placement^='top'] {
  @apply -mb-2;
}
.tippy-box[data-theme^='transparent'][data-placement^='right'] {
  @apply -ml-2;
}
.tippy-box[data-theme^='transparent'][data-placement^='bottom'] {
  @apply -mt-2;
}
.tippy-box[data-theme^='transparent'][data-placement^='left'] {
  @apply -mr-2;
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slide-left-enter-from {
  transform: translateX(100%);
}
.slide-right-enter-from {
  transform: translateX(-100%);
}

.slide-left-leave-from,
.slide-right-leave-from,
.slide-left-leave-to,
.slide-right-leave-to {
  display: none;
}

.slide-left-enter-to,
.slide-right-enter-to {
  transform: translateX(0);
}

div {
  @apply scrollbar-thin;
}

.text-main {
  @apply text-primary;
}

[data-theme='dark'] .text-main {
  color: oklch(72% 0.233 277.117);
}

[data-theme='lofi'] .text-main,
[data-theme='pastel'] .text-main,
[data-theme='wireframe'] .text-main,
[data-theme='business'] .text-main,
[data-theme='black'] .text-main {
  @apply text-info;
}

@keyframes bounceIn {
  0% {
    opacity: 0.5;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceInForPC {
  0% {
    opacity: 0.5;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 0.4s ease-out;
}

@media screen and (min-width: 1024px) {
  .bounce-in {
    animation: bounceInForPC 0.4s ease-out;
  }
}
